@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../src/fonts/Manrope-SemiBold.ttf') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../src/fonts/Manrope-ExtraBold.ttf') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 15px;
}
body {
  font-family: 'Manrope';
  font-weight: 600;

  /* background-image: url('./images/icon-slider.svg'); */
}

/* handle border on hover*/
